/* ABOUT HERO SECTION START */

.about-hero {
	padding-top: 8px;
}

.about-hero__title-box {
	max-width: 576px;
	margin: 0 auto;
}

.about-hero__title {
	margin: 0;
	margin-bottom: 40px;
	font-family: $second-font;
	font-size: 32px;
	line-height: 36px;
	text-align: center;
	letter-spacing: -0.246154px;
	color: #36536B;
}

.about-hero__list {
	@include list-unstyled;
	margin-bottom: 76px;
}

.about-hero__item {
	max-width: 576px;
	margin: 0 auto;
	text-align: center;
}

.about-hero__item:not(:last-child) {
	margin-bottom: 48px;
}

.about-hero__heading {
	margin: 0;
	margin-bottom: 16px;
	font-family: $second-font;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.184615px;
	color: #36536B;
}

.about-hero__text {
	margin: 0;
	font-size: 15px;
	line-height: 28px;
	color: #6C8294;
}

.about-hero__middle {
	max-width: 576px;
	height: 300px;
	margin: 0 auto;
	margin-bottom: 48px;
}

.about-hero__img {
	width: 100%;
	height: 100%;
}

.about-hero__img--tablet {
	display: none;
}

.about-hero__img--desctop {
	display: none;
}

.about-hero__bottom-list {
	@include list-unstyled;
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	margin-bottom: 48px;
	padding: 16px 0;
	border-top: 1px solid #BFCBD5;
	border-bottom: 1px solid #BFCBD5;
	text-align: center;
}

.about-hero__bottom-item:not(:last-child) {
	margin-bottom: 32px;
}

.about-hero__bottom-heading {
	margin: 0;
	font-size: 16px;
	line-height: 28px;
	color: #36536B;
	opacity: 0.7;
}

.about-hero__bottom-price {
	display: inline-block;
	font-family: $second-font;
	font-size: 56px;
	line-height: 72px;
	text-align: center;
	letter-spacing: -0.430769px;
	color: #BA4270;
}

@include media (576px) {
	.about-hero {
		padding-top: 35px;
	}

	.about-hero__title-box {
		max-width: 573px;
	}

	.about-hero__title {
		margin-bottom: 54px;
		font-size: 48px;
		line-height: 56px;
		text-align: center;
		letter-spacing: -0.369231px;
	}

	.about-hero__list {
		margin-bottom: 92px;
	}

	.about-hero__item {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		max-width: 689px;
		text-align: left;
	}

	.about-hero__item:not(:last-child) {
		margin-bottom: 64px;
	}

	.about-hero__heading {
		margin-bottom: 0;
		font-size: 32px;
		line-height: 40px;
		letter-spacing: -0.246154px;
	}

	.about-hero__text-box {
		max-width: 350px;
	}

	.about-hero__middle {
		max-width: 1024px;
		height: 267px;
		margin-bottom: 64px;
	}

	.about-hero__img--mobile {
		display: none;
	}

	.about-hero__img--tablet {
		display: block;
	}

	.about-hero__bottom-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: 100%;
		margin: 0;
		margin-bottom: 64px;
		padding: 44px 0;
		padding-bottom: 16px;
		text-align: left;
	}

	.about-hero__bottom-item:not(:last-child) {
		margin-bottom: 0;
	}

	.about-hero__bottom-heading {
		display: none;
	}
}

@include media (700px) {
	.about-hero__text-box {
		max-width: 456px;
	}
}

@include media (1024px) {
	.about-hero {
		padding-top: 42px;
		background-image: url("../images/about-hero-bg-circle.svg");
		background-repeat: no-repeat;
		background-size: 780px 780px;
		background-position: calc(50% + -900px) 473px;
	}

	.about-hero__title-box {
		max-width: 730px;
		margin: 0;
		margin-left: 95px;
	}

	.about-hero__title {
		margin-bottom: 51px;
		font-size: 56px;
		line-height: 56px;
		letter-spacing: -0.430769px;
		text-align: left;
	}

	.about-hero__list {
		margin-bottom: 100px;
	}

	.about-hero__item {
		max-width: 920px;
	}

	.about-hero__item:not(:last-child) {
		margin-bottom: 56px;
	}

	.about-hero__text-box {
		max-width: 635px;
	}

	.about-hero__middle {
		max-width: 1440px;
		height: 500px;
		margin-bottom: 72px;
	}

	.about-hero__img--tablet {
		display: none;
	}

	.about-hero__img--desctop{
		display: block;
	}

	.about-hero__bottom-list {
		margin-bottom: 72px;
		padding: 16px 0;
		text-align: left;
	}

	.about-hero__bottom-heading {
		display: block;
		margin: 0;
	}
}