body{
    background-image: url("../../images/contact-header-after.svg");
    background-repeat: no-repeat;
    /*background-position: calc(50% + 307px) calc(50% - 394px);*/
    background-size: 780px;
    background-position: 90px calc(50% - 500px);
}

.site-header {
    position: relative;
}

.site-header__logo{
    padding-top: 10px;
}

.site-header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.site-header__hamburger {
    background-color: transparent;
    border: none;
    background-image: url("../images/contact-hamburger.svg");
    background-repeat: no-repeat;
    width: 28px;
    height: 17px;
    z-index: 12;
}

.site-header--active .site-header__hamburger {
    background-image: url("../images/contact-hamburger-close.svg");
    height: 30px;
}

.site-header__nav {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    height: 100vh;
    background: #1B262F;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    animation: hamburger 1s ease;
    z-index: 10;
}

.site-header--active .site-header__nav {
    display: block;
}

.contact-login{
    padding: 80px 0;
}

.site-header__list {
    @include list-unstyled;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding-top: 150px;
    
    &::before {
        position: absolute;
        content: "";
        width: 77%;
        height: 1px;
        right: 0;
        left: 0;
        top: 110px;
        margin: 0 auto;
        background: #FBFCFE;
        background-repeat: no-repeat;
    }
}

.site-header__item {
    @include list-unstyled;
    margin-bottom: 32px;
}

.site-header__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FBFCFE;
    opacity: 0.8;
    &:hover{
        color: #36536B;
        opacity: 1;
    }
}


.site-header__btn-wrapper {
    width: 70%;
    min-width: 220px;
}

.site-header__btn {
    display: inline-block;
    width: 70%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 14px;
    background: #BA4270;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 24px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.115385px;
    color: #FBFCFE;
    text-decoration: none;
    &:hover{
        opacity: 0.8;
    }
    &:active{
        opacity: 0.2;
    }
}

.site-header__tablet-btn {
    display: none;
}

@keyframes hamburger {
    0% {
        right: -100%;
    }
    
    100% {
        right: 0%;
    }
}

@media only screen and (min-width: 768px) {
    body{
        background-image: url("../../images/contact-header-after.svg");
        background-repeat: no-repeat;
        background-position-x: calc(50% + 408px);
        background-position-y: calc(50% - 342px);
        background-size: 780px;
    }

    .contact-login{
        padding: 0 0;
        padding-top: 80px;
    }
    
    .site-header {
        position: relative;
    }
    
    .site-header__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 40px;
        
    }
    
    .site-header__hamburger {
        display: none;
        position: absolute;
        background-color: transparent;
        border: none;
        background-image: url("../images/contact-hamburger.svg");
        background-repeat: no-repeat;
        width: 28px;
        height: 17px;
        z-index: 12;
        right: 10px;
    }
    
    .site-header--active .site-header__hamburger {
        display: none;
        background-image: url("../images/contact-hamburger-close.svg");
        height: 30px;
    }
    
    .site-header__nav {
        display: block;
        position: static;
        right: 0;
        top: 0;
        width: 30%;
        height: 0vh;
        background: transparent;
        box-shadow: none;
        animation: hamburger 1s ease;
    }
    
    .site-header__list {
        @include list-unstyled;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        padding-top: 0px;
        
        &::before {
            display: none;
            position: absolute;
            content: "";
            width: 77%;
            height: 1px;
            right: 0;
            left: 0;
            top: 110px;
            margin: 0 auto;
            background: #FBFCFE;
            background-repeat: no-repeat;
        }
    }
    
    .site-header__item {
        @include list-unstyled;
        margin-bottom: 0px;
        margin-right: 40px;
        
        &:last-child {
            margin-right: 0;
        }
    }
    
    .site-header__link {
        text-decoration: none;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: #36536B;
    }
    
    .site-header__btn-wrapper {
        display: none;
        width: 70%;
        min-width: 220px;
    }
    
    .site-header__btn {
        display: none;
        width: 70%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding-top: 16px;
        padding-bottom: 14px;
        background: #BA4270;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        border-radius: 24px;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        letter-spacing: -0.115385px;
        color: #FBFCFE;
        text-decoration: none;
    }
    
    .site-header__tablet-btn {
        display: block;
        width: 100%;
        max-width: 173px;
        padding-top: 16px;
        padding-bottom: 14px;
        background: #BA4270;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        border-radius: 24px;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: -0.115385px;
        color: #FBFCFE;
        text-align: center;
        text-decoration: none;
        &:hover{
            cursor: pointer;
            opacity: 0.8;
        }
    }
    
    @keyframes hamburger {
        0% {
            right: -100%;
        }
        
        100% {
            right: 0%;
        }
    }
}

@media only screen and (min-width: 1120px) {
    body{
        background-image: url("../../images/contact-header-after.svg");
        background-repeat: no-repeat;
        /*background-position-x: calc(50% + 475px);
        background-position-y: calc(50% - 450px);*/
        background-position: calc(50% + 475px) -520px ;
        background-size: 780px;
    }

    .contact-login{
        padding: 0 0;
        padding-top: 80px;
    }
    
    .site-header {
        position: relative;
    }
    
    .site-header__logo{
        margin-right: 64px;
    }
    
    .site-header__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 40px;
        
    }
    
    .site-header__hamburger {
        display: none;
        position: absolute;
        background-color: transparent;
        border: none;
        background-image: url("../images/contact-hamburger.svg");
        background-repeat: no-repeat;
        width: 28px;
        height: 17px;
        z-index: 12;
        right: 10px;
    }
    
    .site-header--active .site-header__hamburger {
        display: none;
        background-image: url("../images/contact-hamburger-close.svg");
        height: 30px;
    }
    
    .site-header__nav {
        display: block;
        position: static;
        right: 0;
        top: 0;
        width: 30%;
        height: 0vh;
        background: transparent;
        box-shadow: none;
        animation: hamburger 1s ease;
        margin-right: auto;
    }
    
    .site-header__list {
        @include list-unstyled;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        padding-top: 0px;
        
        &::before {
            display: none;
            position: absolute;
            content: "";
            width: 77%;
            height: 1px;
            right: 0;
            left: 0;
            top: 110px;
            margin: 0 auto;
            background: #FBFCFE;
            background-repeat: no-repeat;
        }
    }
    
    .site-header__item {
        @include list-unstyled;
        margin-bottom: 0px;
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
    }
    
    .site-header__link {
        text-decoration: none;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: #36536B;
    }
    
    .site-header__btn-wrapper {
        display: none;
        width: 70%;
        min-width: 220px;
    }
    
    .site-header__btn {
        display: none;
        width: 70%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding-top: 16px;
        padding-bottom: 14px;
        background: #BA4270;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        border-radius: 24px;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        letter-spacing: -0.115385px;
        color: #FBFCFE;
        text-decoration: none;
    }
    
    .site-header__tablet-btn {
        display: block;
        width: 100%;
        max-width: 173px;
        padding-top: 16px;
        padding-bottom: 14px;
        background: #BA4270;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        border-radius: 24px;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: -0.115385px;
        color: #FBFCFE;
        text-align: center;
        text-decoration: none;
    }
    
    @keyframes hamburger {
        0% {
            right: -100%;
        }
        
        100% {
            right: 0%;
        }
    }
}