.home-body{
    background-size: 780px 780px;
    background-position: calc(50% + 450px) calc(0% - 230px);
}
.home-hero{
    margin: 0;
    padding: 0 0 151px;
}

// hero-start
/* hero-start */
.btn{
    @include link-style;
    padding: 16px 24.5px 14px 26.5px;
    color: $link-water-light;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.115385px;
    background-color: $dark-pink;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 24px;

    &:hover{
        background-color: $charm-pink;
    }
    &:active{
        opacity: 0.5;
    }
}
.hero-main-box{
    position: relative;
}
.hero-img{
    position: absolute;
    content: "";
    width: 320px;
    height: 500px;
    top: -80px;
    right: 0px;
}
.hero-box{
    margin: 151px 0 0;
    max-width: 546px;
    height: 345px;
}
.hero-box__theme{
    margin: 0 0 21px;
    color: $san-juan-blue;
    font-family: 'DM Serif Display';
    font-size: 72px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.55px;
}
.contact-form{
    max-width: 445px;
    height: 48px;
    margin-bottom: 16px;
}
.row{
    display: flex;
    justify-content: space-between;
    background: $link-water-light;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 24px;
}
.form-control{
    padding: 16px 0 14px 27px;
    border-radius: 24px;
    border: none;
    width: 100%;
    font-weight: 700;
    line-height: 17.63px;
    color: $san-juan-blue;
    opacity: 50%;

    &:active{
        opacity: 100%;
    }
}
.btn-primary{
    border: none;
}
.hero-box__link{
    padding-left: 27px;
    @include link-style;
    color: $light-san-juan-blue;
    line-height: 18px;
}
.strong{
   font-weight: 700;
}
// hero-end
/* hero-end */

@media only screen and (max-width: 1100px) {
    .home-body{
        background-position: calc(50% + 400px) calc(0% - 340px);
    }
    .site-header{
        &::after{
            background-position: calc(50% + 400px);
        }
    }
    .home-hero{
        padding: 40px 0 140px;
    }
}

@media only screen and (max-width: 1024px) {
    .home-body{
        background-position: calc(50% + 350px) calc(0% - 340px);
    }
    .home-hero{
        padding: 40px 0 130px;
    }
    .hero-box{
        max-width: 450px;
        height: 300px;
    }
    .hero-box__theme{
        font-size: 60px;
        line-height: 60px;
        letter-spacing: -0.55px;
    }
}

@media only screen and (max-width: 900px) {
    .home-body{
        background-position: calc(50% + 300px) calc(0% - 400px);
    }
    .home-hero{
        padding: 40px 0 110px;
    }
    .hero-img{
        width: 300px;
        height: 460px;
        top: -80px;
        right: -30px;
    }
}

@media only screen and (max-width: 768px) {
    .home-body{
        background-size: 949px 949px;
        background-position: center calc(50% - 300px);
    }
    .home-hero{
        padding: 40px 0 99px;
    }
    .hero-main-box{
        margin-top: 396px;
    }
    .hero-img{
        position: absolute;
        content: "";
        width: 250px;
        height: 400px;
        top: -400px;
        left: 35%;
    }
    .hero-box{
        margin: 0 auto;
        max-width: 573px;
        height: 225px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-box__theme{
        margin: 0 0 22px;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.37px;
        text-align: center;
    }
    .home-header__box{
        display: none;
    }
}

@media only screen and (max-width: 660px) {
    .home-hero{
        padding: 40px 0 90px;
    }
}

@media only screen and (max-width: 480px) {
    .home-hero{
        padding: 32px 0 79px;
    }
    .hero-box{
        max-width: 327px;
        height: 285px;
    }
    .hero-img{
        position: absolute;
        content: "";
        width: 245px;
        height: 375px;
        top: -410px;
        left: 20%;
    }
    .hero-box__theme{
        margin: 0 0 24px;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: -0.25px;
    }
    .contact-form{
        max-width: 327px;
        height: 48px;
    }
    .row{
        display: block;
        margin-bottom: 16px;
        height: 48px;
    }
    .form-control{
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        border-radius: 24px;
        border: none;
        width: 100%;
        font-weight: 700;
        line-height: 17.63px;
        color: $san-juan-blue;
        opacity: 50%;
    
        &:active{
            opacity: 100%;
        }
    }
    .btn-primary{
        margin-top: 16px;
        width: 100%;
        border: none;
    }
    .hero-box__link{
        margin-top: 70px;
        padding: 0;
        text-align: center;
        line-height: 17.63px;
    }
}

@media only screen and (max-width: 375px) {

}